<header class="site-header">
  <div class="wrapper">
    <div class="site-header-content">
      <a class="site-title" rel="author" href="{{ "/" | relative_url }}">
        <span class="site-logo">📝</span>
        {{ site.title | default: site.github.repository_name }}
      </a>

      <nav class="site-nav">
        <div class="site-nav-links">
          <a href="{{ "/" | relative_url }}" class="page-link">Home</a>
          <a href="https://github.com/svallory/tmgrammar-toolkit" class="page-link" target="_blank">GitHub</a>
          <a href="https://www.npmjs.com/package/tmgrammar-toolkit" class="page-link" target="_blank">npm</a>
        </div>
      </nav>
    </div>
  </div>
</header>